<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Hello</h1>

<th:block th:each="hello:${hellos}">
    <li th:text="${hello.id}"></li>
    <li th:text="${hello.name}"></li>
</th:block>

</body>
</html>

