<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>

<h1 th:text="${cohort}"></h1>
<!--form will have action of on /join use the post method to post data-->
<form action="/join" method="post">
    <input type="text" name="cohort" id="cohort-ip" class="field">
    <button>Join now</button>
</form>


</body>
</html>
