<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<!--Display list of names-->
<ul>
<!--    for each list of names-->
<!--    th:block is used to defined a for loop within thymeleaf-->
    <th:block th:each="name:${names}">
        <li th:text="${name}"></li>
    </th:block>




</ul>







</body>
</html>
