<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Grocery</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<!--<div class="container">-->
<!--    <h1>Grocery List</h1>-->
<!--    <hr>-->
<!--    <h2>Save Grocery</h2>-->
<!--    <form action="#" th:action="@{/saveGrocery}"-->
<!--          th:object="${grocery}" method="POST">-->
<!--        <input type="text" th:field="*{item}"-->
<!--               placeholder="Grocery List"-->
<!--               class="form-control mb-4 col-4">-->

<!--        <input type="text" th:field="*{price}"-->
<!--               placeholder=""-->
<!--               class="form-control mb-4 col-4">-->

<!--        <input type="text" th:field="*{quantity}"-->
<!--               placeholder="Grocery quantity"-->
<!--               class="form-control mb-4 col-4">-->

<!--        <button type="submit" class="btn btn-info col-2">Save Grocery</button>-->


<!--    </form>-->
<!--    <hr>-->
<!--    <a th:href="@{/groceries}">Back To Grocery List</a>-->
<!--</div>-->
<div class="container">
    <h1>Update Grocery</h1>
    <h1>Please fill out the form to add a grocery item.</h1>
    <form th:action="@{groceries/index}" th:method="post" th:object="${grocery}">
        Name:
        <input th:field="${grocery.item}">
        Price:
        <input th:field="${grocery.price}">
        Quantity:
        <input th:field="${grocery.quantity}">

        <input type="submit">
    </form>
</div>
</body>
</html>
